<!DOCTYPE html>
<html>
    <head>
        <title>
            dm-hub
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    </head>
    <body>
        <div class="body-wrapper">
            <div class="container-1">
                <h2><a id="t1" href="{{url_for('home_route')}}"><span>DM</span>-HUB</a></h2>
                <div>    
                    <h4>Created by Marvyn</h4>
                    <h4>We Bring Your Favourite Shops To You</h4>
                </div>
            </div>
            <div class="container-2">
                <ul>
                    <li><a href="{{url_for('home_route')}}">Home</a></li>
                </ul>
            </div>
           
            <h2 class="heading">ABOUT US</h2>
            <div class="about">
                <p>
                    Welcome to our innovative online platform, where businesses and consumers converge seamlessly, transforming the way you shop. At our website, we bridge the gap between businesses and consumers, creating a vibrant marketplace. Imagine a digital space where you can explore an extensive array of products from all your favorite sellers, all from the comfort of your own home. We've curated a diverse selection of items, bringing you closer to the businesses you love and the products you desire. Whether you're searching for the latest trends, unique handmade crafts, or everyday essentials, our platform is your go-to destination. With user-friendly interfaces and comprehensive product listings, we empower you to make informed choices. Embrace the future of shopping as we connect you with businesses, making your online shopping experience not just convenient, but truly exciting and engaging.
                </p>
            </div>
            <div class="container-5">
                <div>
                    <h3>Address Info</h3>
                    <p>We are located at blah blah blah, next to blah blah blah</p>
                </div>
                <div>
                    <h3>Customer Support</h3>
                    <p>In case of any inquiries, contact us; <span>0800 056967</span></p>
                </div>
            </div>
        </div>
    </body>
</html>