<!DOCTYPE html>
<html>
    <head>
        <title>
            dm-hub
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    </head>
    <body>
        <div class="body-wrapper">
            <div class="container-1">
                <h2><a id="t1" href="{{url_for('home_route')}}"><span>DM</span>- hub</a></h2>
                <div>    
                    <p>Created by Marvyn</p>
                    <p>We Bring Your Favourite Shops To You</p>
                </div>
            </div>
            <div class="container-2">
                <ul>
                    <li><a href="{{url_for('home_route')}}">Home</a></li>
                    <li><a href="{{url_for('about_route')}}">About</a></li>
                    
                    {% if login_status[0] == True %}
                        <li><a href="{{ url_for('account_page_route', user_mail=login_status[1]['email_address']) }}">Account</a></li>
                    {% endif %}

                    <li><a href="{{url_for('sellers_route')}}">Sellers</a></li>

                    {% if login_status[0] == True %}
                        <li><a href="{{url_for('logout_route')}}">Logout</a></li>
                    {% else %}
                        <li><a href="{{url_for('login_route')}}">Login</a></li>
                    {% endif %}

                    {% if login_status[0] == False %}
                        <li><a href="{{url_for('register_route')}}">Register</a></li>
                    {% endif %}  
                </ul>
            </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="flashed_message">
                            <p>{{message}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
           
            {% block content %}
            {% endblock %}

            <div class="container-5">
                <div>
                    <h3>Address Info</h3>
                    <p>We are located at blah blah blah, next to blah blah blah</p>
                </div>
                <div>
                    <h3>Customer Support</h3>
                    <p>In case of any inquiries, contact us; <span>0800 056967</span></p>
                </div>
                <div>
                    <h3>About us</h3>
                    <a href="{{url_for('about_route')}}"><p>click here to know us more</p></a>
                </div>
            </div>
        </div>
    </body>
</html>