{% extends "layout.html" %}
{% block content %}

<div class="form-wrapper">
    <form class="form-container" action="" method="POST">

        <div>
            <label for="">Enter New Password</label>
            <input type="text" name="password">
        </div>
        <div>
            <label for="">Confirm New Password</label>
            <input type="text" name="confirm_password">
        </div>
        <div>
            <label for="">Enter Your Email Address</label>
            <input type="email" name="email_address">
        </div>
        <div>
            <label for="">Enter your mother's maiden name</label>
            <input type="text" name="sq_answer">
        </div>
        <div>
            <label for="">Submit to reset password</label>
            <input type="submit" name="submit" value="submit">
        </div>
    </form>
</div>


{% endblock content %}