{% extends "layout.html" %}
{% block content %}
<h2 class="heading">REGISTER HERE</h2>
        <div class="form-wrapper">
            <form class="form-container" action="" method="POST">
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" required>
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" required>
                </div>
                <div>
                    <label for="email_address">Email Address</label>
                    <input type="email" name="email_address" required>
                </div>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input type="text" name="dob" required>
                </div>
                <div>
                    <label for="gender">Gender</label>
                    <select name="gender" id="">
                        <option value="male">Male</option>
                        <option value="male">Female</option>
                    </select>
                </div>
                <div>
                    <label for="account_type">Account Type</label>
                    <select name="account_type" id="">
                        <option>Seller</option>
                        <option>Buyer</option>
                    </select>
                </div>
                <div>
                    <label for="country">Country</label>
                    <input type="text" name="country" required>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" required>
                </div>
                <div>
                    <label for="phone_number">Phone Number</label>
                    <input type="text" name="phone_number" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" name="password" required>
                </div>
                <div>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="text" name="confirm_password" required>
                </div>
                <div>
                    <label for="sq_answer">Security Question: What is your mother's maiden name??</label>
                    <input type="text" name="sq_answer" required>
                </div>
                <div>
                    <label for="submit">Submit</label>
                    <a href="{{url_for('home_route')}}"><input type="submit" name="submit"></a>
                </div>
            </form>
        </div>
{% endblock content %}